@{
    Layout = "_Layout";
}

@model CosmeticsShop.Models.Category

<h4 class="mb-3 mt-3">Add new category</h4>

@using (Html.BeginForm())
{
    <div class="mb-3 mt-3">
    @Html.DisplayNameFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)
    </div>
    <div class="mb-3 mt-3">
    @Html.DisplayNameFor(model => model.Image)
    @Html.TextBoxFor(model => model.Image)
    </div>
     <div class="mb-3 mt-3">
        <input type ="submit" class="buttonsmall" value="Save"/>
        </div>
}

<h6 class="mt-3">@Html.ActionLink("To the categories", "Index")</h6>