@{
    Layout = "_Layout";
}

@model CosmeticsShop.Models.Category
@using CosmeticsShop.Models

<h4 class="text-center mb-3 mt-3">@Model.Name</h4>
@if (Model.Cosmetics.Count == 0)
{
    <h5>There are no any items in this category</h5>
}
<div class="row mt-3 mb-3">
@foreach (Cosmetic cosmetic in Model.Cosmetics)
{
        <div class="col-md-3">
            <img class=" img-thumbnail" src="@cosmetic.Image">
            <h4>@Html.ActionLink($"{cosmetic.Name}", "Details", "Cosmetics", new {id = cosmetic.CosmeticId}) </h4>
            <h6>@cosmetic.Category.Name</h6>

            <h5>UAH @cosmetic.Price</h5>
            <a class="buttonsmall" asp-controller="ShopCart" asp-action="AddToCart" asp-route-id="@cosmetic.CosmeticId">Add to cart</a>
        </div>

}
</div>

<div class="mt-3">
    <a class="btn btn-outline-secondary" style="border-radius:10px" asp-controller="Home" asp-action="Index">Home</a>
</div>

@if (User.IsInRole("Admin"))
{
    <div class="mt-3">
        <h6 class="mb-3"><strong>For administrator</strong></h6>
    <h6>@Html.ActionLink("To the categories", "Index")</h6>
    </div>
}