@{
    Layout = "_Layout";
}

@model CosmeticsShop.Models.Category

<h4>Edit category @Model.Name</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.CategoryId)

    @Html.DisplayNameFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)

    @Html.DisplayNameFor(model => model.Image)
    @Html.TextBoxFor(model => model.Image)

    <input type="submit" value="Save changes"/>
}

<h6>@Html.ActionLink("To the categories", "Index")</h6>