@{
    Layout = "_Layout";
}

@using CosmeticsShop.Models
@model CosmeticsShop.Models.Cosmetic

<h4>Cosmetic details</h4>

<h4>@Html.DisplayFor(model => model.Name)</h4>
<h5>@Html.DisplayFor(model => model.Category.Name)</h5>
<h6>@Html.DisplayNameFor(model=> model.Price): @Html.DisplayFor(model => model.Price)</h6>
<h6>@Html.DisplayNameFor(model=> model.Description): @Html.DisplayFor(model => model.Description)</h6>

<h6>@Html.ActionLink("Add to cart", "AddToCart", "ShopCart", new {id =Model.CosmeticId})</h6>

@if (User.Identity.IsAuthenticated)
{
<h6>@Html.ActionLink("Edit this", "Edit", new {id = Model.CosmeticId})</h6>
<h6>@Html.ActionLink("Delete this", "Delete", new {id = Model.CosmeticId})</h6>
}
<h6>@Html.ActionLink("See all the cosmetics", "Index")</h6>