@{

    Layout = "_Layout";
}

@model CosmeticsShop.Models.Cosmetic

<h4 class="mb-3 mt-3">Edit this item</h4>

    @using (Html.BeginForm())
    {
     @Html.HiddenFor(model => model.CosmeticId)
     <div class="mb-3">
    @Html.LabelFor(model => model.Name): @Html.EditorFor(model => model.Name)
    </div>
     <div class="mb-3">
    @Html.LabelFor(model => model.Price): @Html.EditorFor(model => model.Price)
    </div>
     <div class="mb-3">
    @Html.LabelFor(model => model.Description): @Html.EditorFor(model => model.Description)
      </div>
       <div class="mb-3">
    @Html.LabelFor(model => model.Image): @Html.EditorFor(model => model.Image)
    </div>
     <div class="mb-3">
    @Html.LabelFor(model => model.Category)
    @Html.DropDownList("CategoryId")
    </div>
     <div class="mb-3">
    <input type="submit" class="buttonsmall" value="Save changes"/>
    </div>
    }

<h6 class="mt-3">@Html.ActionLink("See all cosmetics", "Index")</h6>