@{
    Layout = "_Layout";
}

@using CosmeticsShop.ViewModels
@model RegisterViewModel

<h4>Register a new user</h4>

@if (!ViewData.ModelState.IsValid)
{
    @Html.ValidationSummary("Prease fix the following error(s) and resubmit a form")
}

@using (Html.BeginForm("Register", "Account", FormMethod.Post))
{
    @Html.LabelFor(user => user.Email)
    @Html.TextBoxFor(user=> user.Email)

    @Html.LabelFor(user=> user.Password)
    @Html.EditorFor(user=> user.Password)

    @Html.LabelFor(user=> user.ConfirmPassword)
    @Html.EditorFor(user=> user.ConfirmPassword)

    <input type="submit" value="Register"/>

}

<h6>@Html.ActionLink("Back to the accounts page", "Index")</h6>